body {
  margin: 0;
  padding: 0;
}


/* color 6FDEC4 */

.hidden{
  display: none;
}

.btn__new{
  background-image: url(../images/addIcon.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
}

/* .btn__edit{
  background-image: url(../images/editIcon.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
}

.btn__delete{
  background-image: url(../images/deleteIcon.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
} */

/* .btn__save{
  background-image: url(../images/saveIcon.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
} */

